.top {
	padding: 5px;
	display: block;
}
.section {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 40px;
	align-items: center;
	padding-bottom: 2em;
}

@media screen and (max-width: 840px) {
	.section {
		display: flex;
		flex-direction: column;

		padding: auto;
		margin: auto;
		box-sizing: border-box;
	}

	.header {
		display: block;
		flex-direction: column;
		flex-wrap: wrap;
	}
	.btn {
		display: block;
		flex-direction: column;
		flex-wrap: wrap;
	}
	.skills {
		display: flex;
		flex-direction: row;
		justify-content: left;
		margin-top: 20%;
		gap: 0 0.5rem;
		flex-wrap: wrap;
	}
}

.top h2 {
	font-size: 4em;
}
.top h3 {
	font-size: 3em;
	font-weight: 400;
	margin-bottom: 20px;
}

.btn {
	display: inline-block;
	background: linear-gradient(to left bottom, rgb(180, 232, 72) 20%, rgb(20, 199, 123) 80%);
	padding: 10px 16px;
	border-radius: 5px;
	margin-top: 20px;
	font-weight: 500;
	background-color: transparent;
	border: 5px solid black !important;
}
.btn:hover {
	display: inline-block;
	border: 5px solid #1b61d1 !important;
	color: #1b61d1 !important;
	padding: 10px 16px;
	margin-top: 20px;
	border-radius: 5px;
}

.skills {
	display: flex;
	flex-direction: row;
	justify-content: left;
	margin-top: 15%;
	gap: 0 0.5rem;
}

.future {
	margin-top: 10%;
}
